:root{
    --coler-black:#000000;
    --color-bleu:#80B0DF;
    --color-white:#ffff;

    --bg-color-blue-clair:#80B0DF33;
    --bg-color-bordeaux:#6C131D;
    --bg-input-email:#00000026;
    --nav-bg-color:#FFFFFF;

 
    --btn-bg-bleu :#80B0DF;
    --btn-bg-corail:#E98880;

    /*FONT FAMILY*/

    --font-primary: "Inter-Bold", Helvetica;

}

/* header */
* {
    margin: 0;
    padding: 0;

}

body {
    padding: 0;
    background: (--nav-bg-color);
    margin: 0;



}

 section {
    margin: 4em 0;

}
